// Styles for contact.html
.mainContact {
   display: flex;
   font-family: $body;
   padding-bottom: 5.5rem;

   .firstSec {
      width: 50%;

      img {
         width: 75%;
         margin: 3rem 0 10rem 5rem;
      }
   }

   .secondSec {
      width: 35%;
      margin: 21rem 0 2rem 8rem;

      .followUs {
         display: flex;

         a {
            margin: 1rem;

            i {
               font-size: 3rem;
            }

            i:hover,
            i:focus {
               color: $secondary;
            }
         }
      }
   }
}