// Styles for contact.html
.mainContact {
   display: flex;
   justify-content: space-around;
   font-family: $body;
   height: 100vh;
   padding-bottom: 5.5rem;

   .firstSec {
      width: 50%;
      align-self: center;

      img {
         width: 100%;
      }
   }

   .secondSec {
      width: 35%;
      align-self: center;
      margin-top: 3rem;

      .followUs {
         display: flex;

         a {
            margin: 1rem;

            i {
               font-size: 3rem;
               transition: all 0.2s ease-in 0s;
            }

            i:hover,
            i:focus {
               color: $secondary;
            }
         }
      }
   }
}

// Media queries for contact
@media (max-width: 660px) {
   .mainContact {
      flex-direction: column;
      padding: 6rem 0 0 0;

      .firstSec,
      .secondSec {
         width: 75%;
      }

      .secondSec {
         margin: 0 0 10rem 0;
      }
   }
}

@media (max-width: 480px) {
   .mainContact {
     .firstSec,
      .secondSec {
         width: 95%;
      } 
   }
}