// General styles
.mainBoxes,
.mainCakes,
.mainTowers,
.mainSpecials {
   h1 {
      text-align: center;
      margin: 4rem 0;
   }
}


.mainBoxes,
.mainCakes,
.mainTowers,
.mainSpecials,
.mainFlavours {
   font-family: $body;
   scroll-behavior: smooth;
}