// Styles for flavours.html
.mainFlavours {
   ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 3rem;
      padding: 0;

      li { 
         width: calc((100% / 3) - 2rem);
         text-align: center;
         margin: 2rem 0;

         img {
            width: 100%;
         }
      }
   }
}

// Media queries for flavours
@media (max-width: 785px) {
   .mainFlavours ul li {
      width: 48%;
   }
}

@media (max-width: 545px) {
   .mainFlavours ul li {
      width: 90%;
      margin: 0 auto;
   }
}