// Footer
footer {
   background-color: $primary;
   font-family: $navAndFooter;
   padding: 1rem 0;
   
   .footerDiv {
      display: flex;
      color: white;

      div i:first-child {
         padding-right: 1rem;
      }

      a {
         text-decoration: none;
         color: white;
      }

      a:hover,
      a:focus {
         color: $secondary;
      }

      p {
         font-size: 0.8rem;
         margin: 0 auto;
      }
   }
}