// General Header
header {

   nav {
      display: flex;
      justify-content: space-between;

      img {
         max-width: 4rem;
         margin-top: 2rem;
      }

      ul {
         display: flex;
         margin: 2rem 0 0 0;

         a {
            font-family: $navAndFooter;
            color: $primary;
            padding-left: 2.5rem;
         }
      }
   }

   div {
      text-align: center;
      padding-top: 6rem;

      h1 {
         font-family: $header;
         font-size: 4rem;
      }

      img {
         max-width: 5.5rem;
      }
   }   
}

// Header for index.html
.headerIndex {
   height: 92vh;
}