// General Header
header {

   .menu,
   i.fa-bars {
      display: none;
   }

   nav {
      display: flex;
      justify-content: space-between;

      img {
         max-width: 4rem;
         margin-top: 2rem;
      }

      ul {
         display: flex;
         margin: 2rem 0 0 0;

         a {
            font-family: $navAndFooter;
            color: $primary;
            margin-left: 2.5rem;
         }
      }
   }

   div {
      text-align: center;
      padding-top: 8rem;

      h1 {
         font-family: $header;
         font-size: 4rem;
      }

      img {
         max-width: 5.5rem;
      }
   }   
}

// Header for index.html
.headerIndex {
   height: 93.5vh;
}

// Media queries
@media (max-width: 750px) {
   .hide {
      display: none;
   }

   header i.fa-bars {
      color: $primary;
      display: flex;
      font-size: 2rem;
      padding: 1rem;
      margin-left: auto;
   }

   header div {
      padding-top: 4rem;
      padding-bottom: 4rem;
   }
}