.mainProducts {
   font-family: $body;
   scroll-behavior: smooth;
   padding: 5rem 3rem;

   .allBox {
      background-color: white;
      display: flex;
      justify-content: center;
      border: 2px solid white;
      border-radius: 50px;
      box-shadow: 5px -3px whitesmoke;
      height: 10.2rem;
      width: 65%;
      margin: 0 auto 5rem auto;

      h2 {
         font-size: 2rem;
         font-family: $body;
         font-weight: 600;
         text-align: center;
         align-self: center;

         a {
            color: $primary;
            text-decoration: none;
         }

         a:hover,
         a:focus {
            color: $secondary;
         }
      }
   }
}

// Media queries for products
@media (max-width: 870px) {
   .mainProducts .allBox {
      width: 100%;
   }
}

@media (max-width: 700px) {
   .mainProducts {
      padding: 4rem 1rem;

      .allBox h2 {
         font-size: 2rem;
         width: 87%;
      }
   }
}