.mainReviews {
   font-family: $body;
   scroll-behavior: smooth;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 6rem 0 5rem 0;

   div {
      display: inline-block;
      width: 65%;
      border: 2px solid white;
      border-radius: 50px;
      margin-bottom: 5rem;

      p {
         padding: 2rem 5rem 0 5rem;
      }

      .rightAlign {
         font-weight: bold;
         text-align: right;
         padding: 1rem 5rem 1rem 0;
      }
   }

   .purple {
      background-color: rgb(122, 95, 196, 0.2);
   }

   .pink {
      background-color: rgb(255, 166, 208, 0.2);
      color: #fd7db9;
   }
}

// Media Queries 
@media (max-width: 1070px) {
   .mainReviews {
      div {
         width: 75%;
      }
   }
}

@media (max-width: 888px) {
   .mainReviews {
      div {
         width: 85%;

         p {
            padding: 2rem 3rem 0 3rem;
         }
      }
   }
}

@media (max-width: 575px) {
   .mainReviews {
      div {
         width: 95%;

         p {
            font-size: 0.8rem;
            padding: 2rem 2rem 0 2rem;
         }
      }
   }
}