// Styles for specials.html
.mainSpecials {
   ul {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      margin: 0 auto;
      padding: 0;

      li {
         padding-bottom: 3rem;

         img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 4px 4px 7px 1px $secondary;
         }
      }      
   }
}

// Media Queries
@media (max-width: 750px) {
   .mainSpecials ul {
      width: 75%;
   }
}